{% load i18n %}{% autoescape off %}
{% blocktranslate %}password_reset_email__explain {{ site_name }}{% endblocktranslate %}

{% translate "password_reset_email__please" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "users:password_reset_confirm" uidb64=uid token=token %}
{% endblock %}
{% translate "password_reset_email__username" %} {{ user.get_username }}

{% translate "password_reset_email__thanks" %}

{% blocktranslate %}password_reset_email__team {{ site_name }}{% endblocktranslate %}

{% endautoescape %}
