{% extends "base.html" %}
{% load i18n %}
{% load add_attr %}

{% block title %}
{% translate "password_reset_confirm__title" %}
{% endblock %}

{% block content %}
	{% if validlink %}

	<div class="row justify-content-center mb-4">
		<div class="col-12 col-md-8 col-lg-6">
			<h4>{% translate "password_reset_confirm__text" %}</h4>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-md-6 col-lg-4">
			<form method="post">{% csrf_token %}
				<input class="d-none" autocomplete="username" value="{{ form.user.get_username }}">
				<div class="mb-3">
					<label for="id_new_password1" class="form-label">{% translate "password_reset_confirm__new_password" %}</label>
					{% if form.new_password1.errors %}
						{{ form.new_password1 | add_attr:"is-invalid" }}
						{% for error in form.new_password1.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
						{% endfor %}
					{% else %}
					{{ form.new_password1 }}
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="id_new_password2" class="form-label">{% translate "password_reset_confirm__confirm_password" %}</label>
					{% if form.new_password2.errors %}
						{{ form.new_password2 | add_attr:"is-invalid" }}
						{% for error in form.new_password2.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
						{% endfor %}
					{% else %}
					{{ form.new_password2 }}
					{% endif %}
				</div>
				<button type="submit" class="btn btn-primary">{% translate "password_reset_confirm__change_password" %}</button>
			</form>
		</div>
	</div>


	{% else %}

	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
			<h4>{% translate "password_reset_confirm__error" %}</h4>
		</div>
	</div>

	{% endif %}
{% endblock %}
